<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleIdentifier</key>
  <string>org.acidanthera.driver.CPUFriendDataProvider</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundleName</key>
  <string>CPUFriendDataProvider</string>
  <key>CFBundlePackageType</key>
  <string>KEXT</string>
  <key>CFBundleShortVersionString</key>
  <string>1.0.1</string>
  <key>CFBundleVersion</key>
  <string>1.0.1</string>
  <key>IOKitPersonalities</key>
  <dict>
    <key>CPUFriendDataProvider</key>
    <dict>
      <key>CFBundleIdentifier</key>
      <string>com.apple.driver.AppleACPIPlatform</string>
      <key>IOClass</key>
      <string>AppleACPICPU</string>
      <key>IONameMatch</key>
      <string>processor</string>
      <key>IOProbeScore</key>
      <integer>1100</integer>
      <key>IOProviderClass</key>
      <string>IOACPIPlatformDevice</string>
      <key>cf-frequency-data</key>
      <data>PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPCFET0NUWVBFIHBsaXN0IFBV
QkxJQyAiLS8vQXBwbGUvL0RURCBQTElTVCAxLjAvL0VOIiAiaHR0cDovL3d3dy5hcHBsZS5jb20v
RFREcy9Qcm9wZXJ0eUxpc3QtMS4wLmR0ZCI+CjxwbGlzdCB2ZXJzaW9uPSIxLjAiPgo8ZGljdD4K
CTxrZXk+SU9QbGF0Zm9ybVBvd2VyUHJvZmlsZTwva2V5PgoJPGRpY3Q+CgkJPGtleT5Cb29zdExp
bWl0PC9rZXk+CgkJPGludGVnZXI+MDwvaW50ZWdlcj4KCQk8a2V5PkNQVUZsb29yPC9rZXk+CgkJ
PGludGVnZXI+MTAwMDwvaW50ZWdlcj4KCQk8a2V5PkRORFdoaWxlRGlzcGxheVNsZWVwczwva2V5
PgoJCTxmYWxzZS8+CgkJPGtleT5EYXJrV2FrZVNlcnZpY2VzPC9rZXk+CgkJPGRpY3Q+CgkJCTxr
ZXk+RGFya1dha2VCYWNrZ3JvdW5kVGFza3M8L2tleT4KCQkJPGludGVnZXI+MTwvaW50ZWdlcj4K
CQkJPGtleT5TbGVlcFNlcnZpY2VzPC9rZXk+CgkJCTxpbnRlZ2VyPjc8L2ludGVnZXI+CgkJCTxr
ZXk+U2xlZXBTZXJ2aWNlc01vZGVzPC9rZXk+CgkJCTxkaWN0PgoJCQkJPGtleT5Nb2RlQTwva2V5
PgoJCQkJPGRpY3Q+CgkJCQkJPGtleT5CYXNlSW50ZXJ2YWxzPC9rZXk+CgkJCQkJPGRpY3Q+CgkJ
CQkJCTxrZXk+QUM8L2tleT4KCQkJCQkJPGRpY3Q+CgkJCQkJCQk8a2V5PkJhc2VTbGVlcEludGVy
dmFsPC9rZXk+CgkJCQkJCQk8aW50ZWdlcj4zNjAwPC9pbnRlZ2VyPgoJCQkJCQkJPGtleT5CYXNl
V2FrZUNhcEludGVydmFsPC9rZXk+CgkJCQkJCQk8aW50ZWdlcj44NjQwMDwvaW50ZWdlcj4KCQkJ
CQkJPC9kaWN0PgoJCQkJCQk8a2V5PkJhdHRlcnk8L2tleT4KCQkJCQkJPGRpY3Q+CgkJCQkJCQk8
a2V5PkJhc2VTbGVlcEludGVydmFsPC9rZXk+CgkJCQkJCQk8aW50ZWdlcj4zNjAwPC9pbnRlZ2Vy
PgoJCQkJCQkJPGtleT5CYXNlV2FrZUNhcEludGVydmFsPC9rZXk+CgkJCQkJCQk8aW50ZWdlcj4x
ODA8L2ludGVnZXI+CgkJCQkJCTwvZGljdD4KCQkJCQk8L2RpY3Q+CgkJCQkJPGtleT5CYXR0ZXJ5
Rmxvb3I8L2tleT4KCQkJCQk8aW50ZWdlcj4wPC9pbnRlZ2VyPgoJCQkJCTxrZXk+RXhwaXJhdGlv
bjwva2V5PgoJCQkJCTxpbnRlZ2VyPjA8L2ludGVnZXI+CgkJCQk8L2RpY3Q+CgkJCTwvZGljdD4K
CQk8L2RpY3Q+CgkJPGtleT5GcmVxdWVuY2llczwva2V5PgoJCTxkaWN0PgoJCQk8a2V5PjM4MDA8
L2tleT4KCQkJPGludGVnZXI+MTwvaW50ZWdlcj4KCQkJPGtleT40MTAwPC9rZXk+CgkJCTxpbnRl
Z2VyPjE8L2ludGVnZXI+CgkJPC9kaWN0PgoJCTxrZXk+RnJlcXVlbmN5VmVjdG9yczwva2V5PgoJ
CTxhcnJheT4KCQkJPGRhdGE+CgkJCUFnQUFBQWdBQUFBQkFBQUFBQUFBQUtBUEFBQUFBQUFBOUFF
QUFBQUFBQUFBWk9nREFBQUEKCQkJQUFBQUFFdlFCd0FBQUFBQUFBQXl1QXNBQUFBQUFBQUFHZi8v
Ly8vLy93OEFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUF3
QUFBQUJBQUFBQUFBQQoJCQlBSEFYQUFBQUFBQUE5QUVBQUFBQUFBQUJaT2dEQUFBQUFBQUFBVExR
QndBQUFBQUFBQUJMCgkJCW9BOEFBQUFBQUFBQU12Ly8vLy8vL3c4QUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQThBQUFBQkFBQUFBQUFBQUhBWEFBQUFBQUFB
OUFFQUFBQUEKCQkJQUFBQ1pPZ0RBQUFBQUFBQUFqTFFCd0FBQUFBQUFBRkxvQThBQUFBQUFBQUJN
bkFYQUFBQQoJCQlBQUFBQUV0QUh3QUFBQUFBQUFBeS8vLy8vLy8vRHdBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUJJQQoJCQlBQUFCQUFBQUFBQUFBSEFYQUFBQUFBQUE5QUVBQUFBQUFBQURaT2dEQUFBQUFBQUFB
ekxRCgkJCUJ3QUFBQUFBQUFKTG9BOEFBQUFBQUFBQ01uQVhBQUFBQUFBQUFVdEFId0FBQUFBQUFB
RXkKCQkJLy8vLy8vLy9Ed0FBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
CgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQlVBQUFBQkFBQUFBQUFBQUhBWEFBQUEK
CQkJQUFBQTlBRUFBQUFBQUFBRVpPZ0RBQUFBQUFBQUJETFFCd0FBQUFBQUFBTkxvQThBQUFBQQoJ
CQlBQUFETW5BWEFBQUFBQUFBQWt0QUh3QUFBQUFBQUFJeS8vLy8vLy8vRHdBQUFBQUFBQUFBCgkJ
CUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJ
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlB
QUFBQUFBQUFCZ0FBQUFCQUFBQUFBQUFBSEFYQUFBQUFBQUE5QUVBQUFBQUFBQUZaT2dECgkJCUFB
QUFBQUFBQkV2UUJ3QUFBQUFBQUFReW9BOEFBQUFBQUFBRFMzQVhBQUFBQUFBQUF6SkEKCQkJSHdB
QUFBQUFBQUpMLy8vLy8vLy9Ed0FBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQnNBQUFBQkFBQUEKCQkJQUFBQUFL
QVBBQUFBQUFBQTlBRUFBQUFBQUFBR1pPZ0RBQUFBQUFBQUJVdlFCd0FBQUFBQQoJCQlBQVV5b0E4
QUFBQUFBQUFFUzNBWEFBQUFBQUFBQkRKQUh3QUFBQUFBQUFOTC8vLy8vLy8vCgkJCUR3QUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFB
QUFBQUFBQUFBQUFCMEFBQUFCQUFBQUFBQUFBS0FQQUFBQUFBQUE5QUVBCgkJCUFBQUFBQUFIWk9n
REFBQUFBQUFBQmt2UUJ3QUFBQUFBQUFZeW9BOEFBQUFBQUFBRlMzQVgKCQkJQUFBQUFBQUFCVEpB
SHdBQUFBQUFBQVJMLy8vLy8vLy9Ed0FBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUNFQUFBQUJBQUFBQUFB
QUFLQVBBQUFBQUFBQTlBRUFBQUFBQUFBSVpPZ0RBQUFBQUFBQQoJCQlCMHZRQndBQUFBQUFBQWN5
b0E4QUFBQUFBQUFHUzNBWEFBQUFBQUFBQmpKQUh3QUFBQUFBCgkJCUFBVkwvLy8vLy8vL0R3QUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFDUUFBQUFCQUFBQUFBQUFBS0FQCgkJCUFBQUFBQUFBOUFFQUFBQUFBQUFK
Wk9nREFBQUFBQUFBQ0V2UUJ3QUFBQUFBQUFneW9BOEEKCQkJQUFBQUFBQUhTM0FYQUFBQUFBQUFC
ekpBSHdBQUFBQUFBQVpMLy8vLy8vLy9Ed0FBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUdRQUFBQURBQUFB
QUFBQUFLQ0dBUUFBQUFBQTlBRUFBQUFBQUFBSwoJCQlaT2dEQUFBQUFBQUFDVXZRQndBQUFBQUFB
QWt5b0E4QUFBQUFBQUFJUzNBWEFBQUFBQUFBCgkJCUNESkFId0FBQUFBQUFBZEwvLy8vLy8vL0R3
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBLy8vLy8vLy9E
d0FBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
CgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEK
CQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJ
CQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJ
CUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJ
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
CgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEK
CQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJ
CQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJ
CUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJ
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBRUpCUTB0SFVrOVYKCQkJVGtRQUFBQUFBQUFB
QUNBREFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQ0FVa1ZCCgkJCVRGUkpUVVZmVTBoUFVs
UUFBQWNLQUFBQUFBQUFBQUFBQUFBQUFBQVpBQmtBR1FBZ0F3QUEKCQkJQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUJMUlZKT1JVd0FBQUFB
QUFBQUFBQUFBQXBrQUdRQVpBQmtBR1FBWkFCa0FHUUFaQUJrCgkJCUFDQURBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFnRlJJVWxWZlZF
bEZVaklBQUFBQUFBQUFDRElBWkFCa0FHUUFaQUJrQUdRQQoJCQlaQUJrQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQ0FWRWhT
VlY5VVNVVlNNd0FBQUFBQUFBQUZaQUJrQUdRQVpBQmsKCQkJQUdRQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFJ
QlVTRkpWWDFSSlJWSTBBQUFBQUFBQUFBUmtBR1FBCgkJCVpBQmtBR1FBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQWdGUklVbFZmVkVsRlVqVUFBQUFBQUFBQQoJCQlCR1FBWkFCa0FHUUFaQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFDQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFh
SGR3QUFBQQoJCQlBQUFBQUFBQUFBQUFBQUVBQUFCdmJnQUFBQUFBQUFBQUFBQUFBQUFBWlhCd0FB
QUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQ1FBQUFBQUFBQUFBQUFBQUFBQUFBQWNHVnlaaTFpYVdG
ekFBQUEKCQkJQUFBQUFBQUFBQUFGQUFBQUFBQUFBQUFBQUFBQUFBQUFkWFJwYkdsMGVTMTBiSFpz
QUFBQQoJCQlBQUFBQUFCQUFBQUFBQUFBQUFBQUFBQUFBQUFBYm05dUxXWnZZMkZzTFhSc2Rtd0FB
QUFBCgkJCUFBRDdBQUFBQUFBQUFBQUFBQUFBQUFBQWNtRjBhVzl5WVhSbGJHbHRhWFFBQUFBQUFB
Q2cKCQkJaGdFQUFBQUFBQUFBQUFBQUFBQUFjblJvQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QQoJCQlBQUFBQUFBQUFBQUFBQUFBYVc5ZlkyOXlaVjlqYzNSZmJHbHRBQUFBQUFBREFBQUFBQUFB
CgkJCUFBQUFBQUFBQUFBQWFXOWZhR2x1ZEhNQUFBQUFBQUFBQUFBQUFBQUJBQUFBQUFBQUFBQUEK
CQkJQUFBQUFBQUFhVzlqYzE5amMzUm1iSElBQUFBQUFBQUFBQUFJQUFBQUFBQUFBQUFBQUFBQQoJ
CQlBQUFBYVc5amMxOWthWE5sYm1kaFoyVUFBQUFBQUFBQUNUMEFBQUFBQUFBQUFBQUFBQUFBCgkJ
CWFXOWpjMTlsYm1kaFoyVUFBQUFBQUFBQUFBQ0FoQjRBQUFBQUFBQUFBQUFBQUFBQWFXOWoKCQkJ
YzE5eWRISnBaMmRsY2dBQUFBQUFBQUJrQUFBQUFBQUFBQUFBQUFBQUFBQUFiSEJ0WDNKaAoJCQlk
R2x2QUFBQUFBQUFBQUFBQUFBWUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJPC9kYXRhPgoJCQk8ZGF0YT4KCQkJQWdB
QUFBZ0FBQUFCQUFBQUFBQUFBS0FQQUFBQUFBQUE5QUVBQUFBQUFBQUFaT2dEQUFBQQoJCQlBQUFB
QUV2UUJ3QUFBQUFBQUFBeXVBc0FBQUFBQUFBQUdmLy8vLy8vL3c4QUFBQUFBQUFBCgkJCUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQXdBQUFBQkFBQUFBQUFBCgkJCUFIQVhBQUFB
QUFBQTlBRUFBQUFBQUFBQlpPZ0RBQUFBQUFBQUFUTFFCd0FBQUFBQUFBQkwKCQkJb0E4QUFBQUFB
QUFBTXYvLy8vLy8vdzhBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFB
QUFBQUFBOEFBQUFCQUFBQUFBQUFBSEFYQUFBQUFBQUE5QUVBQUFBQQoJCQlBQUFDWk9nREFBQUFB
QUFBQWpMUUJ3QUFBQUFBQUFGTG9BOEFBQUFBQUFBQk1uQVhBQUFBCgkJCUFBQUFBRXRBSHdBQUFB
QUFBQUF5Ly8vLy8vLy9Ed0FBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQklBCgkJCUFBQUJBQUFBQUFBQUFIQVhB
QUFBQUFBQTlBRUFBQUFBQUFBRFpPZ0RBQUFBQUFBQUF6TFEKCQkJQndBQUFBQUFBQUpMb0E4QUFB
QUFBQUFDTW5BWEFBQUFBQUFBQVV0QUh3QUFBQUFBQUFFeQoJCQkvLy8vLy8vL0R3QUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFCVUFBQUFCQUFBQUFBQUFBSEFYQUFBQQoJCQlBQUFBOUFFQUFBQUFBQUFFWk9nREFB
QUFBQUFBQkRMUUJ3QUFBQUFBQUFOTG9BOEFBQUFBCgkJCUFBQURNbkFYQUFBQUFBQUFBa3RBSHdB
QUFBQUFBQUl5Ly8vLy8vLy9Ed0FBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUJnQUFBQUJBQUFBQUFBQUFI
QVhBQUFBQUFBQTlBRUFBQUFBQUFBRlpPZ0QKCQkJQUFBQUFBQUFCRXZRQndBQUFBQUFBQVF5b0E4
QUFBQUFBQUFEUzNBWEFBQUFBQUFBQXpKQQoJCQlId0FBQUFBQUFBSkwvLy8vLy8vL0R3QUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFCc0FBQUFCQUFBQQoJCQlBQUFBQUtBUEFBQUFBQUFBOUFFQUFBQUFBQUFHWk9n
REFBQUFBQUFBQlV2UUJ3QUFBQUFBCgkJCUFBVXlvQThBQUFBQUFBQUVTM0FYQUFBQUFBQUFCREpB
SHdBQUFBQUFBQU5MLy8vLy8vLy8KCQkJRHdBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUIwQUFBQUJBQUFBQUFB
QUFLQVBBQUFBQUFBQTlBRUEKCQkJQUFBQUFBQUhaT2dEQUFBQUFBQUFCa3ZRQndBQUFBQUFBQVl5
b0E4QUFBQUFBQUFGUzNBWAoJCQlBQUFBQUFBQUJUSkFId0FBQUFBQUFBUkwvLy8vLy8vL0R3QUFB
QUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQQoJCQlBQ0VBQUFBQkFBQUFBQUFBQUtBUEFBQUFBQUFBOUFFQUFBQUFBQUFJ
Wk9nREFBQUFBQUFBCgkJCUIwdlFCd0FBQUFBQUFBY3lvQThBQUFBQUFBQUdTM0FYQUFBQUFBQUFC
akpBSHdBQUFBQUEKCQkJQUFWTC8vLy8vLy8vRHdBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUNRQUFBQUJBQUFB
QUFBQUFLQVAKCQkJQUFBQUFBQUE5QUVBQUFBQUFBQUpaT2dEQUFBQUFBQUFDRXZRQndBQUFBQUFB
QWd5b0E4QQoJCQlBQUFBQUFBSFMzQVhBQUFBQUFBQUJ6SkFId0FBQUFBQUFBWkwvLy8vLy8vL0R3
QUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQQoJCQlBQUFBQUFBQUFBQUFBR1FBQUFBREFBQUFBQUFBQUtDR0FRQUFBQUFBOUFFQUFBQUFB
QUFLCgkJCVpPZ0RBQUFBQUFBQUNVdlFCd0FBQUFBQUFBa3lvQThBQUFBQUFBQUlTM0FYQUFBQUFB
QUEKCQkJQ0RKQUh3QUFBQUFBQUFkTC8vLy8vLy8vRHdBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
CgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEK
CQkJQUFBQUFBQUFBQUFBQUFBQUFBQUEvLy8vLy8vL0R3QUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJ
CQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJ
CUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJ
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
CgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEK
CQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJ
CQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJ
CUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJ
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFFSkJRMHRIVWs5VgoJCQlUa1FBQUFBQUFBQUFBQ0FEQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFDQVVrVkIKCQkJVEZSSlRVVmZVMGhQVWxRQUFBY0tBQUFBQUFBQUFBQUFBQUFBQUFB
WkFCa0FHUUFnQXdBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBCgkJCUFBQkxSVkpPUlV3QUFBQUFBQUFBQUFBQUFBcGtBR1FBWkFCa0FHUUFa
QUJrQUdRQVpBQmsKCQkJQUNBREFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQQoJCQlBQUFBQUFBQWdGUklVbFZmVkVsRlVqSUFBQUFBQUFBQUNESUFaQUJrQUdR
QVpBQmtBR1FBCgkJCVpBQmtBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFDQVZFaFNWVjlVU1VWU013QUFBQUFBQUFBRlpBQmtB
R1FBWkFCawoJCQlBR1FBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUlCVVNGSlZYMVJKUlZJMEFBQUFBQUFBQUFS
a0FHUUEKCQkJWkFCa0FHUUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBZ0ZSSVVsVmZWRWxGVWpVQUFBQUFB
QUFBCgkJCUJHUUFaQUJrQUdRQVpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUNBQUFBQUFBQUFBQUFBQUFB
QQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
CgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEK
CQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJ
CQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJ
CUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJ
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQWFIZHdBQUFBCgkJCUFBQUFBQUFBQUFBQUFB
RUFBQUJ2YmdBQUFBQUFBQUFBQUFBQUFBQUFaWEJ3QUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFD
UUFBQUFBQUFBQUFBQUFBQUFBQUFBY0dWeVppMWlhV0Z6QUFBQQoJCQlBQUFBQUFBQUFBQUZBQUFB
QUFBQUFBQUFBQUFBQUFBQWRYUnBiR2wwZVMxMGJIWnNBQUFBCgkJCUFBQUFBQUJBQUFBQUFBQUFB
QUFBQUFBQUFBQUFibTl1TFdadlkyRnNMWFJzZG13QUFBQUEKCQkJQUFEN0FBQUFBQUFBQUFBQUFB
QUFBQUFBY21GMGFXOXlZWFJsYkdsdGFYUUFBQUFBQUFDZwoJCQloZ0VBQUFBQUFBQUFBQUFBQUFB
QWNuUm9BQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFhVzlm
WTI5eVpWOWpjM1JmYkdsdEFBQUFBQUFEQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBYVc5ZmFHbHVk
SE1BQUFBQUFBQUFBQUFBQUFBQkFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQWFXOWpjMTlqYzNSbWJI
SUFBQUFBQUFBQUFBQUlBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFhVzlqYzE5a2FYTmxibWRoWjJV
QUFBQUFBQUFBQ1QwQUFBQUFBQUFBQUFBQUFBQUEKCQkJYVc5amMxOWxibWRoWjJVQUFBQUFBQUFB
QUFDQWhCNEFBQUFBQUFBQUFBQUFBQUFBYVc5agoJCQljMTl5ZEhKcFoyZGxjZ0FBQUFBQUFBQmtB
QUFBQUFBQUFBQUFBQUFBQUFBQWJIQnRYM0poCgkJCWRHbHZBQUFBQUFBQUFBQUFBQUFZQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQQoJCQk8L2RhdGE+CgkJPC9hcnJheT4KCQk8a2V5PklPUGxhdGZvcm1TeXN0ZW1TbGVlcFBv
bGljeTwva2V5PgoJCTxkYXRhPgoJCVUweFFWQUlBQ2dBSUFBQUFDQUFBQUFBQUFBQUFBQUFBQlFB
QUFBQUFBQUFGQVFBQUFRQUFBQUFBUUFBQQoJCUFFQUFBQUFRQUFBQUVBQUhBQUFBQUFBQUFBL2Ro
d0VBQUFBQUlBQUFBQ0FBQUFBQUFBQUFBQUFBQUFVQQoJCUFBQUFBQUFBRDkySEFRQUFBQURFRmdB
QUFBQUFBQWdBQUFBSUFBQUFCUUFBQUFBQUFBQVAzWWNCQUFBQQoJCUFNUVdFQUFBQUJBQUlFQUFB
Q0JBQUFBSEFBQUFDQUFBQUEvZGh3RUFBQUFBeEJZQUFBQUFBQUFnQUFBQQoJCUlBQUFBQVVBQUFB
QUFBQUFEOTJIQVFBQUFBREVGZ0FBQUFBQUFBaUFBQUFJZ0FBQUJRQUFBQUFBQUFBUAoJCTNZY0JB
QUFBQU1RV0FBQUFBQUFBQU1BQUFBREFBQUFIQUFBQUNBQUFBQS9kaHdFQUFBQUF4QllBQUFBQQoJ
CUFBQUFBQUFBQUFBQUFBY0FBQUFCQUFBQUQ5MkhBUUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QndBQQoJCUFBQUFBQUFQM1ljQkFBQUFBQT09CgkJPC9kYXRhPgoJCTxrZXk+TmV0d29ya1RpbWVy
RGVsYXk8L2tleT4KCQk8aW50ZWdlcj45MDA8L2ludGVnZXI+CgkJPGtleT5Ob3RpZmljYXRpb25X
YWtlPC9rZXk+CgkJPHRydWUvPgoJCTxrZXk+UHVibGlzaEJhdHRlcnlGYWN0b3JzPC9rZXk+CgkJ
PHRydWUvPgoJCTxrZXk+U3RhbmRieUJhdHRlcnlUaHJlc2hvbGQ8L2tleT4KCQk8aW50ZWdlcj41
MDwvaW50ZWdlcj4KCQk8a2V5PlN0YW5kYnlEZWxheTwva2V5PgoJCTxpbnRlZ2VyPjEwODAwPC9p
bnRlZ2VyPgoJCTxrZXk+U3RhbmRieURlbGF5SGlnaDwva2V5PgoJCTxpbnRlZ2VyPjg2NDAwPC9p
bnRlZ2VyPgoJCTxrZXk+VENQS2VlcEFsaXZlRHVyaW5nU2xlZXA8L2tleT4KCQk8dHJ1ZS8+CgkJ
PGtleT5UQ1BLZWVwQWxpdmVFeHBpcmF0aW9uVGltZW91dDwva2V5PgoJCTxpbnRlZ2VyPjQzMjAw
PC9pbnRlZ2VyPgoJCTxrZXk+VGhlcm1hbENvbmZpZ3VyYXRpb248L2tleT4KCQk8ZGljdD4KCQkJ
PGtleT5Eb21haW48L2tleT4KCQkJPGRpY3Q+CgkJCQk8a2V5PkNQVTwva2V5PgoJCQkJPGRpY3Q+
CgkJCQkJPGtleT5RT1NUaGVybWFsVGhyZXNob2xkczwva2V5PgoJCQkJCTxkaWN0PgoJCQkJCQk8
a2V5Pk5vbkZvY2FsPC9rZXk+CgkJCQkJCTxpbnRlZ2VyPjI1MTwvaW50ZWdlcj4KCQkJCQkJPGtl
eT5VdGlsaXR5PC9rZXk+CgkJCQkJCTxpbnRlZ2VyPjY0PC9pbnRlZ2VyPgoJCQkJCTwvZGljdD4K
CQkJCQk8a2V5PlNGSUFwcE5hcDwva2V5PgoJCQkJCTxkaWN0PgoJCQkJCQk8a2V5PkVmZm9ydEN1
cnZlPC9rZXk+CgkJCQkJCTxzdHJpbmc+NDA9MCUsNzI9NjclPC9zdHJpbmc+CgkJCQkJPC9kaWN0
PgoJCQkJCTxrZXk+U0ZJRGFyd2luQkc8L2tleT4KCQkJCQk8ZGljdD4KCQkJCQkJPGtleT5FZmZv
cnRDdXJ2ZTwva2V5PgoJCQkJCQk8c3RyaW5nPjQwPTAlLDY0PTUwJSw3Mj02NyU8L3N0cmluZz4K
CQkJCQk8L2RpY3Q+CgkJCQkJPGtleT5TRklNYWludGVuYW5jZTwva2V5PgoJCQkJCTxkaWN0PgoJ
CQkJCQk8a2V5PkVmZm9ydEN1cnZlPC9rZXk+CgkJCQkJCTxzdHJpbmc+NDA9MCUsNjQ9NTAlLDcy
PTY3JTwvc3RyaW5nPgoJCQkJCTwvZGljdD4KCQkJCQk8a2V5PlNGSVdpbmRvdzwva2V5PgoJCQkJ
CTxpbnRlZ2VyPjUwMDAwPC9pbnRlZ2VyPgoJCQkJCTxrZXk+VGhlcm1hbFByZXNzdXJlPC9rZXk+
CgkJCQkJPGRpY3Q+CgkJCQkJCTxrZXk+SGVhdnk8L2tleT4KCQkJCQkJPGRpY3Q+CgkJCQkJCQk8
a2V5PkhpZ2hUaHJlc2hvbGQ8L2tleT4KCQkJCQkJCTxpbnRlZ2VyPjIwMDwvaW50ZWdlcj4KCQkJ
CQkJCTxrZXk+TG93VGhyZXNob2xkPC9rZXk+CgkJCQkJCQk8aW50ZWdlcj45MDwvaW50ZWdlcj4K
CQkJCQkJPC9kaWN0PgoJCQkJCQk8a2V5Pk1vZGVyYXRlPC9rZXk+CgkJCQkJCTxkaWN0PgoJCQkJ
CQkJPGtleT5IaWdoVGhyZXNob2xkPC9rZXk+CgkJCQkJCQk8aW50ZWdlcj4xMDA8L2ludGVnZXI+
CgkJCQkJCQk8a2V5Pkxvd1RocmVzaG9sZDwva2V5PgoJCQkJCQkJPGludGVnZXI+NTA8L2ludGVn
ZXI+CgkJCQkJCTwvZGljdD4KCQkJCQkJPGtleT5Ob21pbmFsPC9rZXk+CgkJCQkJCTxkaWN0PgoJ
CQkJCQkJPGtleT5IaWdoVGhyZXNob2xkPC9rZXk+CgkJCQkJCQk8aW50ZWdlcj42MjwvaW50ZWdl
cj4KCQkJCQkJCTxrZXk+TG93VGhyZXNob2xkPC9rZXk+CgkJCQkJCQk8aW50ZWdlcj4wPC9pbnRl
Z2VyPgoJCQkJCQk8L2RpY3Q+CgkJCQkJCTxrZXk+U2xlZXBpbmc8L2tleT4KCQkJCQkJPGRpY3Q+
CgkJCQkJCQk8a2V5PkhpZ2hUaHJlc2hvbGQ8L2tleT4KCQkJCQkJCTxpbnRlZ2VyPjI1MjwvaW50
ZWdlcj4KCQkJCQkJCTxrZXk+TG93VGhyZXNob2xkPC9rZXk+CgkJCQkJCQk8aW50ZWdlcj4yNTE8
L2ludGVnZXI+CgkJCQkJCTwvZGljdD4KCQkJCQkJPGtleT5UcmFwcGluZzwva2V5PgoJCQkJCQk8
ZGljdD4KCQkJCQkJCTxrZXk+SGlnaFRocmVzaG9sZDwva2V5PgoJCQkJCQkJPGludGVnZXI+MjUw
PC9pbnRlZ2VyPgoJCQkJCQkJPGtleT5Mb3dUaHJlc2hvbGQ8L2tleT4KCQkJCQkJCTxpbnRlZ2Vy
PjE3MDwvaW50ZWdlcj4KCQkJCQkJPC9kaWN0PgoJCQkJCTwvZGljdD4KCQkJCTwvZGljdD4KCQkJ
CTxrZXk+R1BVPC9rZXk+CgkJCQk8ZGljdC8+CgkJCQk8a2V5PklPPC9rZXk+CgkJCQk8ZGljdC8+
CgkJCTwvZGljdD4KCQk8L2RpY3Q+CgkJPGtleT5VbmlmaWVkU2xlZXBTbGlkZXJQcmVmPC9rZXk+
CgkJPHRydWUvPgoJCTxrZXk+b3B0aW1pemVkX3Bob3RvYm9vdGg8L2tleT4KCQk8dHJ1ZS8+CgkJ
PGtleT5vcHRpbWl6ZWRfc2NyZWVuc2F2ZXJzPC9rZXk+CgkJPHRydWUvPgoJCTxrZXk+b3B0aW1p
emVkX3NsaWRlc2hvd3M8L2tleT4KCQk8dHJ1ZS8+CgkJPGtleT5vcHRpbWl6ZWRfdmlzdWFsaXpl
cnM8L2tleT4KCQk8dHJ1ZS8+CgkJPGtleT5wb3dlcl9yZWR1Y2VkX3BsYXliYWNrPC9rZXk+CgkJ
PHRydWUvPgoJCTxrZXk+dGhlcm1hbGx5X29wdGltaXplZF94Y29kZTwva2V5PgoJCTx0cnVlLz4K
CTwvZGljdD4KCTxrZXk+cG1zcEZpbGU8L2tleT4KCTxpbnRlZ2VyPjEzPC9pbnRlZ2VyPgo8L2Rp
Y3Q+CjwvcGxpc3Q+Cg==</data>
    </dict>
  </dict>
  <key>NSHumanReadableCopyright</key>
  <string>Copyright © 2017-2022 PMheart. All rights reserved.</string>
  <key>OSBundleRequired</key>
  <string>Root</string>
</dict>
</plist>
